README.md.backu
.DS_Store
.bin/cliclick
.bin/micro
.bin/ngrok
.git-sendemail*
.vim-flavor/
.vim/.netrwhist
/doc/tags
/doc/tags
VimFlavor.lock
/bin/cliclick
/bin/docker*
/bin/fig
/bin/packer
/bin/packer-*
/bin/terraform
/bin/terraform-*

bin/containerd
bin/containerd-shim-runc-v2
bin/ctr
bin/rootlesskit
bin/rootlesskit-docker-proxy
bin/runc
bin/vpnkit
tags
xmonad-i386-linux
xmonad.errors
xmonad.hi
xmonad.op
.config/ranger/plugins
.config/ranger/__pycache__
.bash/color_list.txt
*.i3/config

