[user]
	name = brnfra
	email = devlabbr@outlook.com
	timestampResolution = 4000 nanoseconds
	minRacyThreshold = 7440 microseconds
# push/pull/diff/options {{{
[push]
    default = current
[pull]
    default = current
[diff]
    mnemonicprefix = true
[branch]
    autosetuprebase = always
[apply]
    whitespace = nowarn

#}}}

